{% extends 'layout.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to Dentist Center!</h1>
    <a class="appointButton" href="/calendar">Book an appointment now!</a>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 36px;
            margin-top: 50px;
            font-family: 'Courier New', Courier, monospace;
        }
        .appointButton {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s;
            font-family: 'Courier New', Courier, monospace;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}